<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>date time Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>current server time is: {{date}}</h2><hr>
        <h2>Course name is : {{name}}</h2>
        <h2>Pre_requisits is : {{prerequisits}}</h2>
        <ul>
            <li>this is line1</li>
            <li>this is line2</li>
            <li>this is line3</li>
        </ul>
        <table border='2'>
            <thead>
                <th>SNo</th>
                <th>Name</th>
                <th>feedback</th>
            </thead>
            <tr>
                <td>1</td>
                <td>vikas</td>
                <td>feedback1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>ravi</td>
                <td>feedback2</td>
            </tr>
        </table>
    </body>
</html>
