<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Durga News</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/testapp/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/testapp/movies">movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/testapp/sports">Sports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/testapp/politics">Politics</a>
        </li>    
      </ul>
    </div>
</nav>