.container{
    margin-top: 30px;
    text-align: center;
}
h1{
    color: rgb(87, 16, 219);
    text-align: center;
    background: rgb(194, 139, 139);
}
.container .jumbotron{
    background: rgb(147, 170, 235);
    color: azure;
}

.jumbotron a{
    color: rgb(4, 4, 73);
    background-color: blue;
    border: 2px solid rgb(34, 4, 4);
}
/* 
we will include the image for the background.
go to the unsplash.com 
copy image url and paste
*/
body{
    background: url(https://images.unsplash.com/photo-1521383899078-1c7c03c76b59?q=80&w=1393&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    height: 200px;
    width:30%;
    margin: 1.5% ;
    float: left;
    border: 2px solid blue;
}
table,thead,th,tr,td{
    color: rgb(255, 0, 0);
    border: 2px solid rgb(3, 3, 247);
    font-size: 20px;
    margin: auto;
    background: white;
}