<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Durga soft news portal</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}" />
        
    </head>
    <body>
        <h2>Welcome to Durga News Portal</h2>
        <img src="{% static "images/image1.jpg" %}" , alt="" />
        <ul>
            <li><a href="/news/movies">Movies Inforamtion</a></li>
            <li><a href="/news/sports">Sports Inforamtion</a></li>
            <li><a href="#">Politics Inforamtion</a></li>        
        </ul>
    </body>
</html>
