<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% comment %} records ==> coming from the views.py {% endcomment %}
        {%for record in records %}
        <h3>{{record.name}} Information</h3>
        <ul>
            <li>Name: {{record.name | upper }}</li>
            <li>Name: {{record.name | add:" PVT LTD"}}</li>
            <li>Subject: {{record.subject | lower}}</li>
            <li>Department: {{record.dept | title }}</li>
            <li>Data: {{record.date | date:"d-m-y"}}</li>
        </ul><hr>
        {% endfor %}
    </body>
</html>